@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?a2bqoc');
  src:  url('fonts/icomoon.eot?a2bqoc#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?a2bqoc') format('truetype'),
  url('fonts/icomoon.woff?a2bqoc') format('woff'),
  url('fonts/icomoon.svg?a2bqoc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-theme:before {
  content: "\e912";
}
.icon-cofc:before {
  content: "\e913";
}
.icon-networking:before {
  content: "\e900";
}
.icon-keynote:before {
  content: "\e901";
}
.icon-coaching:before {
  content: "\e90d";
}
.icon-workshop:before {
  content: "\e90e";
}
.icon-brainstorm:before {
  content: "\e90c";
}
.icon-discussion:before {
  content: "\e90f";
}
.icon-web-design:before {
  content: "\e910";
}
.icon-funding:before {
  content: "\e911";
}
.icon-sustainability-:before {
  content: "\e902";
}
.icon-scalability:before {
  content: "\e903";
}
.icon-originality:before {
  content: "\e904";
}
.icon-execution:before {
  content: "\e905";
}
.icon-ownership:before {
  content: "\e906";
}
.icon-code-review:before {
  content: "\e907";
}
.icon-demo:before {
  content: "\e908";
}
.icon-submission:before {
  content: "\e909";
}
.icon-team:before {
  content: "\e90a";
}
.icon-code:before {
  content: "\e90b";
}
